* {
    margin: 0;
    padding: 0;
    background-color: #171a21;

}
main h1{
    color: #92BCEA;
    text-align: center;
    font-size: 5vw;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.Game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
  
.box {
    background-color: #fff;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #58676a;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#reset,#new-btn {
    height: 3rem;
    width: 6rem;
    border: none;
    border-radius: 1rem;
    background-color: #92BCEA;
    color: black;
    text-align: center;

}
p {
    color:#92BCEA;
    font-size: 2rem;
    padding: 50px;
}
.msg-cointainer {
    text-align: center;
    height: 100vmin;


}
.hide {
    display: none;
}



